.admin-page {
    background-color: rgb(27, 27, 27);
}

.add-item-form {
    background-color: rgb(8, 8, 8);
    border-radius: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    h3 {
        color: rgb(87, 87, 87);
        margin-bottom: 2.7rem;
    }
    textarea {
        resize: none;
        border:  none;
        border-left: 3px solid rgb(29, 29, 29);
        background-color: transparent;
        outline-color: black;
        
        &:focus {
            background-color: transparent;
            box-shadow: none !important;
            border-left: 3px solid rgb(32, 32, 32);
            color: rgb(204, 204, 204);
        }

        &::placeholder {
            font-weight: 600;
            color: rgb(87, 87, 87);
        }
    }

    .MuiTypography-root {
        color: rgb(209, 209, 209);
    }

    hr {
        background-color: rgb(68, 68, 68);
        height: 2px;
    }
    .add-item-submit-button {
        border: none;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        border-radius: 0.15rem;
        background-color: #525252;
        color: rgb(209, 209, 209);
        width: 110px;
        &:hover {
            background-color: #4e4e4e;
        }
        &:active {
            transform: scale(0.96);
        }

    }

}

.files-details {
    h6 {
        color: rgb(79, 141, 192);
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        li {
            margin-bottom: 0.4rem;
        }
        span {
            
            padding: 0.05rem 0.4rem;
            color: rgb(207, 207, 207);
            background-color: rgb(58, 58, 58);
        }
            
    }

    button {
        border: none;
        background-color: transparent;
        color: rgb(224, 224, 224);
        border: 2px solid rgb(184, 184, 184);
        border-radius: 0.3rem;
        width: 120px;
    }
}

.wrapper {
    position: relative;
    border: none;
    outline: none;
    input {
        font-family: $font-2;
        position: relative;
        background: transparent;
        border: 0;
        border-bottom: 1.5px solid rgba(#474747, 0.6);
        font-weight: 500;
        color:rgba(rgb(66, 66, 66), 0.875);
        outline: none;
        &:focus {
            border-bottom: 1px solid rgba(#1f565e, 0.6);
        }
        &:valid {
            border-bottom: 1px solid rgba(#0b707e, 0.6);
        }
        &:focus+.placeholder {
            background: transparent;
            transform: translate(0.625rem, -10px) scale(0.8);
        }
        &:valid+.placeholder {
            transform: translate(0.625rem, -10px) scale(0.8);
        }
        
    }
    .placeholder {
        color: rgba(#3b3b3b, 0.6);
        position: absolute;
        z-index:0;
        bottom: 1rem;
        left: 0;
        padding: 0 0 0.25rem;
        font-weight: 500;
        transform: translate(0.5rem, 15px);
        transform-origin: 0% 0%;
        background: transparent;
        pointer-events: none;
        transition: transform 0.35s, background 0.35s;
    }

    
}

.add-project-form {
    textarea {
        resize: none;
        outline: none;
        font-family: $font-2;
        &:active {
            outline: none;
        }
    }

    .submit-button {
        background-color: rgb(58, 58, 58);
        padding: 0.3rem;
        border-radius: 0.2rem;
        width: 70px;
        color: rgb(224, 224, 224);

        &:hover {
            background-color: rgb(54, 54, 54);
        }
        &:active {
            transform: scale(0.99);
        }
    }

    .upload-file-wrapper {
        input {
            display: none;
        }
        .upload-file-button {
            background-color: rgb(58, 58, 58);
            color: rgb(218, 218, 218);
            width:300px;
            padding: 0.5rem;
            margin: 0 auto;
            text-align: center;
            border-radius: 0.3rem;

            &:hover {
                background-color: rgb(54, 54, 54);
            }
            &:active {
                transform: scale(0.99);
            }
        }
    }
}