.editor-menu {
    position: fixed;
    top: 22%;
    left: 2%;

    button {
        background-color: rgb(88, 88, 88);
        border-radius: 0.3rem;
        color: white;

        &:hover {
            background-color: rgb(61, 61, 61);
        }
    }
}

.blog-section-1 {
    margin-top: 1.3rem;
    // height: 20vh;
    width: 70%;
    background-color: transparent;
    resize: none;
    // border: 1px dashed rgb(155, 110, 25);
    border: none;
    // color: white;
    text-align: justify;
    
    &:focus {
        border: 1px dashed rgb(15, 120, 128);
        outline: none;
    }
}


@media (max-width:320px) {
    .blog-section-1 {
        width: 100% !important;
    }
}