.editor-menu {
    position: fixed;
    top: 22%;
    left: 2%;

    button {
        background-color: rgb(88, 88, 88);
        border-radius: 0.3rem;
        color: white;

        &:hover {
            background-color: rgb(61, 61, 61);
        }
    }
}

.blog-section-1 {
    margin-top: 1.3rem;
    // height: 20vh;
    width: 70%;
    background-color: transparent;
    resize: none;
    // border: 1px dashed rgb(155, 110, 25);
    border: none;
    // color: white;
    text-align: justify;
    
    &:focus {
        border: 1px dashed rgb(15, 120, 128);
        outline: none;
    }
}

.wrapper-class {
    background-color: white;
}

.blog-editor-content-save-button {
    width: 110px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding: 0.2rem;
    border-radius: 0.2rem;

    &:hover {
        background-color: rgb(216, 216, 216);
    }

    &:active {
        transform: scale(0.98);
    }
}


//editor
.rdw {
    &-editor-wrapper {
        border: 2px solid rgb(192, 192, 192);
        border-radius: 0.5rem;
        margin-bottom: 2rem;
    }
    &-editor-main {
        padding: 0.8rem;
        margin-bottom: 1.4rem;
        // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    &-editor-toolbar {
        border: 2px solid rgb(192, 192, 192);
        border-radius: 0.5rem;
    }
    &-fontfamily-wrapper {
    }
    &-dropdown {
        
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px !important;
        }
        &-selectedtext {
            font-family: $font-6;
            color: rgb(43, 43, 43);
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px !important;
                text-decoration: none;
                color: rgb(43, 43, 43);
            }
        }
    }
}

.editor-main {
    overflow-x: auto;
}
.preivew-head {
    font-size: 17px;
    font-family: $font-7;
}
.editor-preview {
    overflow: auto;
    padding: 0.5rem;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 0.5rem;
    margin-bottom: 1.4rem;
}

@media (max-width:320px) {
    .blog-section-1 {
        width: 100% !important;
    }
}