@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Indie+Flower&family=Lora&family=Merriweather&family=Nunito&family=Open+Sans&family=Playfair+Display&family=Raleway&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: f1;
    src:url('./f1.ttf')
}

$font-1:f1;
$font-2:ubuntu;
$font-3:Bree Serif;
$font-4 :Poppins;
$font-5 :Roboto Mono;
$font-6 : Roboto;