.add-docs {
    margin-bottom: 1.4rem;

}

.docs {
    &-label {
        display: block;
        font-family: 'Roboto';
        font-size: 17px;
        color: white;
        text-align: center;
        background-color: rgb(46, 46, 46);
        border-radius: 0 0 0.2rem 0.2rem;
        padding: 0.3rem;

        &:active {
            transform: scaleX(0.99);
        }
    }
    &-input {
        display: none;
    }
}

// .react-pdf__Document {
//     width: 200% !important;
// }

.react-pdf__Page__canvas {
    width: 100% !important;
    // object-fit: contain;
    height: 100% !important;
}

.preview-txt-files {
    height: 60vh;
    overflow: auto;
}
.preview-pdf-file {
    height: 66vh;
    overflow: auto;
    overflow-x: hidden;
}

.download-button {
    position: absolute;
    top: -1.2rem;
    button {
        background-color: transparent;
        color: black;
        font-family: 'Roboto';
        margin: 0.2rem;
        border: 1px solid black;
        border-radius: 10rem;

        &:active {
            transform: scale(0.98);
        }
    }

}


.copy-to-clipboard {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 600;
}

@media (max-width:400px) {
    .download-button {
        position: absolute;
        margin-bottom: 2rem;
        top: -1.2rem;
        button {
            background-color: transparent;
            color: black;
            font-family: 'Roboto';
            margin: 0.2rem;
            border: 1px solid black;
            border-radius: 10rem;
    
            &:active {
                transform: scale(0.98);
            }
        }
    
    }
}